@import '~office-ui-fabric-react/dist/sass/References.scss';

$peelBlue : #0096CF;
$peelGreen: #27AE60;
$peelGrey: #9FA7A7;
$peelMint : #1C9A82;
$peelNavy : #4C5F79;
$peelOrange : #EA8020;
$peelPink : #F46C9E;
$peelPurple : #A061BA;
$peelRed : #D7574A;
$peelTeal : #38A8AC;
$peelYellow : #DAA62F;

.BlueBg{
  background-color: $peelBlue;
  &:hover{
    background-color: darken($peelBlue, 5%);
  }
}
.BlueFg{
  color: $peelBlue;
}
.GreenBg{
    background-color: $peelGreen;
    &:hover{
      background-color: darken($peelGreen, 5%);
    }
}
.GreenFg{
  color: $peelGreen;
}
.GreyBg{
    background-color: $peelGrey;
    &:hover{
      background-color: darken($peelGrey, 5%);
    }
}
.GreyFg{
  color: $peelGrey;
}
.MintBg{
    background-color: $peelMint;
    &:hover{
      background-color: darken($peelMint, 5%);
    }
}
.MintFg{
  color: $peelMint;
}
.NavyBg{
    background-color: $peelNavy;
    &:hover{
      background-color: darken($peelNavy, 5%);
    }
}
.NavyFg{
  color: $peelNavy;
}
.OrangeBg{
    background-color: $peelOrange;
    &:hover{
      background-color: darken($peelOrange, 5%);
    }
}
.OrangeFg{
  color: $peelOrange;
}
.PinkBg{
    background-color: $peelPink;
    &:hover{
      background-color: darken($peelPink, 5%);
    }
}
.PinkFg{
  color: $peelPink;
}
.PurpleBg{
    background-color: $peelPurple;
    &:hover{
      background-color: darken($peelPurple, 5%);
    }
}
.PurpleFg{
  color: $peelPurple;
}
.RedBg{
    background-color: $peelRed;
    &:hover{
      background-color: darken($peelRed, 5%);
    }
}
.RedFg{
  color: $peelRed;
}
.TealBg{
    background-color: $peelTeal;
    &:hover{
      background-color: darken($peelTeal, 5%);
    }
}
.TealFg{
  color: $peelTeal;
}
.YellowBg{
    background-color: $peelYellow;
    &:hover{
      background-color: darken($peelYellow, 5%);
    }
}
.YellowFg{
  color: $peelYellow;
}


.marginR5{
  margin-right: 5px;
}
.marginR10{
  margin-right: 10px;
}
.marginL5{
  margin-left: 5px;
}
.marginL10{
  margin-left: 10px;
}


.preloader{
  margin-top: 40px;
}

.tileForm{
  .formToggle button{
    min-width: 0;
  }
  .Fg{
    background: transparent;
  }
  .iconDpdCntnr{
    position: relative;
    .iconDpd{
      position: relative;
      input{
        padding-left: 22px!important;
      }
    }
    .iconDpdIcon{
      position: absolute;
      bottom: 9px;
      left: 9px;
    }
    
  }  
  .panelIcon, .panelFileType i{
    font-size: 40px;
    border-radius: 3px;
    margin: 20px 0;
    height: 40px;
  }
  .panelImg{
    margin: 20px 0;
    height: 40px;
  }
 
}

.panelBtns{
  position: absolute;
  bottom: 20px;
}

.tilesPanel{
  button{
    min-width: 0;
  }
}

.tilesSPFx {
 
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {

    min-width: 0;
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }

  .wpTitle{
    font-size: 20px;
    margin: 0 0 11px 0;
    padding: 0;
  }
  .tileControls{
    display: block;
    padding: 0 15px 10px 5px;

    &:before{
      content: "";
      background-color: #c8c6c4;
      height: 1px;
      margin: 20px 0 15px;
      width: 100%;
      display: block;
    }

    .tilesEditToggle{
      float: right;
      margin-top: -7px;
      button{
        min-width: 0;
      }
    }
  }


  
  .tilesCntnr{
    
    &:after{
      content: '';
      clear: both;
      display: block;
    }
    .tile{
      display: block;
      color: #fff;
      border-radius: 2px;
      width: 135px;
      height: 120px;
      float: left;
      margin: 5px;
      text-align: center;
      position: relative;
      transition: all 0.3s ease;
      &:hover .tileIcon{
        filter: none;
        opacity: 0.9;
        transform: translateY(2px) translateZ(0);
      }
      &:hover .tilesDpd{
        display: block;
      }
      .tilesDpd{
        background: inherit;
        z-index: 1000000;
        position: absolute;
        margin: 0;
        padding: 0;
        left: 0;
        top: 99%;
        max-height: 250px;
        overflow: auto;
        border-bottom: 1px solid rgba(41,39,36,0.12);
        box-shadow: 0px 5px 12px -2px rgba(41,39,36,0.12);
        display: none;
        width: 135px;
        text-align: left;
        li{
          list-style-type: none;
          border-top: 1px solid rgba(41,39,36,0.12);
          &:hover{
            box-shadow: none;
            background: rgba(41,39,36,0.1);
          }
          a{
            padding: 5px 7px;
            font-size: 13px;
          }
        }
      }
      .tilesDpdIcon{
        display: block;
        &:after{
          color: #fff;
          content: "≡";
          position: absolute;
          bottom: 0px;
          left: 47%;
          text-align: center;
          text-shadow: none;
          transform: scaleX(2.5);
          padding: 5px 0px;
        }
      }
      a{
        text-decoration: none;
        display: block;
        color: #fff;
        height: 94%;
        padding: 7px 17px 0 13px;
        background: inherit;
        .tileIcon{
          position: absolute;
          right: 15px;
          bottom: 15px;
          filter: grayscale(100%);
          opacity: 0.3;
          transform: translateZ(0);
          transition: opacity 0.3s, transform 0.3s;
        }
        .tileText{
          font-size: 14px;
          text-align: left;
        }
        i{
          font-size: 35px;
        }
      }
      .iconBtnCntnr{
        // display: none!important;
        position: absolute;
        right: 2px;
        bottom: 0;
        color: #fff;
        z-index: 999999;
        // background-color: rgba(255,255,255,0.5);
        border-radius: 2px;
        width: 20px;
        height: 20px;
        height: 100%;
        .deleteTileIcon{
          bottom: 6px;
          position: absolute;
          cursor: pointer;
          right: 5px;
          width: 20px;
          height: 16px;
          background: hsla(0,0%,100%,.3);
          border-radius: 50%;
          padding: 4px 2px;
        }
        .iconBtn{
          background: transparent;
          width: 20px;
          height: 20px;
          margin: 0;
          padding: 0;
          border: none;
          min-width: 0;
          position: absolute;
          right: 3px;
          top: 7px;
        }
        .settingsTileIcon{
          cursor: pointer;
          top: 7px;
          position: absolute;
          right: 5px;
          width: 20px;
          height: 16px;
          background: rgba(255,255,255,0.3);
          border-radius: 50%;
          padding: 4px 2px;
        }
      }
      
    }
    .Bg{
      display: block;
    }
    
  }

}
